<!-- views/signin.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="sai.css">
    <style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/96/42/sM30tC.jpg');
        background-repeat:no-repeat ;
      background-size: 100%;
      }
      </style>

</head>
<body>

        <div class="three">

    <h1 style="color: red; ">About Your Country Information Dashboard</h1>
    <p>This dashboard provides a user-friendly interface for accessing information about countries worldwide.</p>
    
    <h2 style="color: red; ">Features</h2>
    <ul>
        <li>Search and retrieve detailed information about any country.</li>
        <li>View population, languages, currency, and other important details.</li>
        <li>Stay informed about international demographics and cultural insights.</li>
    </ul>
    
    <h2 style="color: red; "> How to Use</h2>
    <p>Simply enter the name of a country in the search field to retrieve relevant data. The dashboard will display key information about the country's demographics, languages, and more.</p>
    
    <h2 style="color: red; ">Contact Us</h2>
    <p>If you have questions or feedback about this dashboard, please contact our support team at support@example.com.</p>
    <h4><a href="/back" style="color: green; ">Back to Dashboard</a></h4>

    
    </div>
</body>
</html>