
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Dashboard</title> <!-- Add a title here -->
    <link rel="stylesheet" href="sai.css">
</head>
<style>
  body {
    background-image: url('https://th.bing.com/th/id/R.c7acd5ae37baf4c5b6b50b6e84a109b5?rik=Zqgo%2bEOvBNiCnA&riu=http%3a%2f%2fwww.incomeactivator.com%2fimages%2ffreebg5.jpg&ehk=U7paqPqpb2Ex9TLrtkBl47D2Wiq5UDm6N73Tlyza2cE%3d&risl=&pid=ImgRaw&r=0');
    background-repeat:no-repeat ;
  background-size: 100%;
  }
  </style>
<body>
    <!-- Your content goes here -->
 
      <div class="two" >
        <h2 style="color: red; ">Welcome to the country details</h2>
        <p><a href="/home">Home</a> | <a href="/about">About</a> | <a href="/logout">Logout</a></p>
      </div>
      <div class="two" id="country-info">
        <label for="country-input">Enter Country Name:</label><br>
        <input type="text" id="country-input"><br>
        
        <button id="search-button">Search</button>
      </div>
      

  

</form>
<script src="dashboard.js"></script>
</body>
</html>
