
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="sai.css">
    <style>
    body {
        background-image: url('https://wallpaperaccess.com/full/4115908.jpg');
        background-repeat:no-repeat ;
      background-size: 100%;
      }
      </style>

</head>
<body>

        <div class="three">
            
            <h1 style="color: red; ">Welcome to Your Country Information Home Page</h1>
            <p>This dashboard allows you to explore information about different countries.</p>
            
            <h2 style="color: red; ">Search for Country Information</h2>
            <p>Use the search feature to find details about specific countries, including population, languages, currency, and more.</p>
            
            <h2 style="color: red; ">About</h2>
            <p>Learn more about this dashboard and how it can help you discover interesting facts about countries around the world.</p>
            
            <h2 style="color: red; ">Logout</h2>
            <p>click on it <a href="/logout" style="color:orange ">Logout</a></p></p>
            <h4><a href="/back" style="color: green; ">Back to Dashboard</a></h4>
        </div>
    </form>
</body>
</html>


